@charset "UTF-8";
html { height: 100%; font-size: 16px; }

@media screen and (max-width: 768px) { html { font-size: 14px; } }

@media screen and (max-width: 480px) { html { font-size: 12px; } }

body { width: 100%; height: 100%; text-align: center; /* font-size: */ }

ul { list-style: none; margin: 0; padding: 0; }

h1, h2, h3 { margin-top: 0; }

.wrapper { position: relative; overflow: hidden; min-height: 40.625rem; min-width: 100%; }

.clearfix:after { content: ""; display: block; clear: both; }

.container { margin: 0 auto; position: relative; width: 100%; height: 100%; padding-left: 5%; padding-right: 5%; -webkit-box-sizing: border-box; box-sizing: border-box; }

.container--team { width: 50%; height: 100%; background-color: rgba(81, 80, 90, 0.9); position: absolute; top: 0; left: 50%; margin: 0; padding-top: 7.1875rem; padding-left: 6.25rem; text-align: left; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 768px) { .container--team { padding-left: 0; padding-right: 0; width: 100%; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media screen and (max-width: 480px) { .container--team { padding-left: 0; padding-right: 0; width: 100%; left: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.container--menu { position: absolute; right: 0; height: 100%; padding-right: 0; }

.container--form { width: 100%; height: 100%; }

.section { width: 100vw; height: 100vh; min-height: 40.625rem; position: relative; background-size: cover; background-position: center; background-repeat: no-repeat; text-align: center; -webkit-box-sizing: border-box; box-sizing: border-box; }

.section--start { background-image: url("/img/start/video-bg.jpg"); padding-top: 0.9375rem; padding-bottom: 2.5rem; }

.section--best { background-image: url("/img/best/bg.jpg"); padding-top: 7.1875rem; }

.section--slider { background-image: -webkit-gradient(linear, left top, left bottom, from(#f9b43b), color-stop(#eb8d38), to(#f9b43b)); background-image: -webkit-linear-gradient(#f9b43b, #eb8d38, #f9b43b); background-image: -o-linear-gradient(#f9b43b, #eb8d38, #f9b43b); background-image: linear-gradient(#f9b43b, #eb8d38, #f9b43b); }

.section--team { background-image: url("/img/team/background.jpg"); }

.section--menu { background-image: url("/img/menu/background.jpg"); }

.section--contact { background-image: url("/img/contact/map.jpg"); }

.section--form { background-image: url("/img/form/background.jpg"); padding-top: 8.75rem; padding-right: 15%; padding-left: 15%; -webkit-box-sizing: border-box; box-sizing: border-box; width: 100%; height: 100%; }

.title { font-family: 'gagalinregular','Arial'; font-size: 4.5rem; text-transform: uppercase; font-weight: normal; }

.title--start { color: #f9b43b; margin-bottom: 0.9375rem; margin-top: 0.9375rem; }

.title--best { color: #2f3234; margin-bottom: 2.5rem; }

.title--team { color: #f9b43b; margin-bottom: 3.4375rem; }

.title--menu { color: white; float: left; margin-left: 12%; margin-top: 8%; }

.title--slider { color: white; margin-bottom: 0; line-height: 1; }

.title--lmenu { display: block; position: relative; height: 100%; text-align: left; color: white; font-size: 2.5rem; -webkit-writing-mode: vertical-lr; -ms-writing-mode: tb-lr; writing-mode: vertical-lr; -webkit-transform: rotate(180deg) translate(50%, 0); -ms-transform: rotate(180deg) translate(50%, 0); transform: rotate(180deg) translate(50%, 0); left: 50%; margin: 0; padding: 0; }

@media screen and (max-width: 480px) { .title--lmenu { font-size: 1.5625rem; } }

.ltitle { font-family: 'lifehackmedium','Arial'; font-size: 4.0625rem; }

.ltitle--start { font-size: 4.0625rem; color: white; text-transform: lowercase; font-stretch: condensed; line-height: 0.9em; margin-left: 2.5rem; letter-spacing: -rem(1.5px); font-weight: 300; text-align: left; margin-bottom: 0; }

@media screen and (max-width: 768px) { .ltitle--start { text-align: center; } }

@media screen and (max-width: 480px) { .ltitle--start { text-align: center; } }

.title--team { display: inline-block; color: white; font-size: 0.875rem; letter-spacing: 0.0625rem; margin-bottom: 0; }

.ltitle--best { font-size: 1.5rem; color: #2f3234; margin-bottom: 0.9375rem; line-height: 1.2em; letter-spacing: -rem(0.5px); }

.title--review { color: white; font-size: 0.875rem; letter-spacing: 0.0625rem; margin-bottom: 1.875rem; }

@media screen and (max-width: 768px) { .title--review { margin-bottom: 0; } }

@media screen and (max-width: 480px) { .title--review { font-size: 1.25rem; margin-bottom: 1.875rem; } }

/* .wrapper:after{
    content:"";
    display:block;
    height:rem(75px);
} */
@font-face { font-family: 'gagalinregular'; src: url("/fonts/gagalin/gagalin-regular-webfont.woff2") format("woff2"), url("/fonts/gagalin/gagalin-regular-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

@font-face { font-family: 'lifehackmedium'; src: url("/fonts/Lifehack/lifehack_medium-webfont.woff2") format("woff2"), url("/fonts/Lifehack/lifehack_medium-webfont.woff") format("woff"); font-weight: normal; font-style: normal; }

.features { display: inline-block; }

.features__list { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }

@media screen and (max-width: 480px) { .features__list { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.features__item { display: inline-block; width: 28%; margin-right: 2.25rem; vertical-align: top; }

@media screen and (max-width: 480px) { .features__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; width: 100%; text-align: left; margin-bottom: 1.875rem; } }

@media screen and (max-width: 480px) { .features__desc { -webkit-box-flex: 3; -ms-flex: 3; flex: 3; } }

.features__item:last-child { margin-right: 0; }

.features__image { display: inline-block; text-align: center; background-size: 100% auto; width: 100%; height: 5.625rem; top: 0; margin-bottom: 1.25rem; z-index: 10; background-repeat: no-repeat; }

@media screen and (max-width: 480px) { .features__image { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-left: 1.875rem; height: 6.25rem; margin-bottom: 0; } }

.features__image--meat { width: 6.25rem; margin-left: 0.625rem; background-image: url("/img/best/meat.png"); }

@media screen and (max-width: 480px) { .features__image--meat { margin-left: 0; margin-right: 1.25rem; } }

.features__image--hand { width: 4.375rem; background-image: url("/img/best/hand.png"); }

@media screen and (max-width: 480px) { .features__image--hand { margin-left: 0; margin-right: 1.25rem; height: 8.125rem; } }

.features__image--natural { width: 5.625rem; margin-right: 0rem; background-image: url("/img/best/natural.png"); }

@media screen and (max-width: 480px) { .features__image--natural { margin-left: 0; margin-right: 1.25rem; } }

.title__best { font-family: 'lifehackmedium','Arial'; font-size: 1.5rem; color: white; }

.features__text { font-family: 'Ubuntu', 'Arial'; font-weight: 300; font-size: 0.875rem; color: #585a5a; line-height: 1.7em; }

/* .start:after{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255,255,255,0.7);
    z-index:-800;

} */
.texture { width: 100%; height: 100%; top: 0; left: 0; position: absolute; background-image: url("/img/start/first-screen-texture.png"); background-repeat: repeat; }

.sidebar { float: right; position: fixed; top: 6.125rem; right: 3.4375rem; z-index: 30; }

.slidebar__item { width: 0.375rem; height: 0.375rem; }

.sidebar__point { display: block; position: relative; content: ""; width: 0.375rem; height: 0.375rem; border-radius: 50%; background-color: white; margin-bottom: 0.9375rem; }

.sidebar__link { width: 100%; height: 100%; display: block; }

.sidebar__point--active:after { display: inline-block; content: ""; width: 0.875rem; height: 0.875rem; border-radius: 50%; border: 0.0625rem solid white; position: absolute; -webkit-box-sizing: border-box; box-sizing: border-box; top: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

.sidebar__list:last-child { margin-bottom: 0; }

.fullscrmenu { display: none; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-color: #2f3234; display: none; }

.exitmark { background-image: url("/img/start/Rounded Rectangle.png"); background-size: 100% auto; width: 1.25rem; height: 1.25rem; position: absolute; right: 5%; top: 3%; }

.header { position: relative; /* margin-bottom: rem(25px);  */ height: 5rem; width: 100%; }

.header__logo { position: relative; background-image: url("/img/start/logo.png"); background-position: center center; background-repeat: no-repeat; background-size: 100% auto; width: 6.5625rem; height: 5rem; float: left; margin-left: 2%; }

@media screen and (max-width: 480px) { .header__logo { margin-left: 0; } }

.header__logo--fullscrmenu { position: absolute; left: 4%; top: 2%; margin-left: 0; }

.header_hamburger { width: 1.5625rem; height: 1.5625rem; margin-right: 5%; float: right; position: relative; display: none; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); z-index: 100; }

@media screen and (max-width: 768px) { .header_hamburger { display: block; } }

@media screen and (max-width: 480px) { .header_hamburger { display: block; } }

.header__hamburger-strip { width: 100%; height: 20%; margin-bottom: 20%; -webkit-box-sizing: border-box; box-sizing: border-box; background-color: #fff; }

.header__hamburger-strip:last-child { margin-bottom: 0; }

.nav { float: right; position: relative; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

@media screen and (max-width: 768px) { .nav { display: none; } }

@media screen and (max-width: 480px) { .nav { display: none; } }

.nav__list { margin-left: 0; padding-left: 0; }

.nav__item { display: inline-block; letter-spacing: 0.00625rem; font-stretch: ultra-condensed; font-family: 'Ubuntu','Arial'; font-weight: 500; font-size: 0.8125rem; color: white; text-transform: uppercase; vertical-align: middle; }

.nav__item--fullscrmenu { display: block; font-size: 1.5rem; }

.nav__item:after { content: ""; width: 0.25rem; height: 0.25rem; border-radius: 50%; background-color: white; display: inline-block; vertical-align: middle; margin-left: 0.9375rem; margin-right: 0.6875rem; }

.nav__item--fullscrmenu:after { display: block; margin-left: 50%; margin-right: 0rem; margin-top: 0.9375rem; margin-bottom: 0.6875rem; }

.nav__item:last-child:after { display: none; }

.nav__link { text-decoration: none; color: white; }

.header__button { float: right; position: relative; top: 50%; -webkit-transform: translate(0, -50%); -ms-transform: translate(0, -50%); transform: translate(0, -50%); }

.buy__button { height: 2.1875rem; background-color: #e45028; border-radius: 0.3125rem; border: none; font-family: 'Ubuntu','Arial'; font-weight: 500; font-size: 0.8125rem; color: white; text-transform: uppercase; margin-right: 1.6875rem; padding-right: 0.9375rem; padding-left: 0.9375rem; margin-left: 0.9375rem; }

.buy__button:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }

.startcontent { width: 100%; height: 100%; position: absolute; left: 0; top: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; }

@media screen and (max-width: 768px) { .startcontent { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media screen and (max-width: 480px) { .startcontent { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.startpic { z-index: 10; width: 38%; height: 72%; position: relative; background-image: url("/img/start/burger_drop.png"); background-position: center center; background-size: 100% auto; position: relative; overflow: hidden; background-repeat: no-repeat; }

.startpic__motiv { height: 30%; display: block; }

.arrow__image { background-image: url("/img/start/arrow-scroll.png"); z-index: 30; width: 1.875rem; height: 0.875rem; background-repeat: no-repeat; overflow: hidden; }

.arrow { display: inline-block; text-align: center; position: absolute; bottom: 0; }

.review { width: 100%; height: 100%; }

.review__avatar { width: 100%; height: 100%; overflow: hidden; background-size: cover; background-position: center; -webkit-filter: grayscale(100%); filter: grayscale(100%); }

.review__avatar--photo3 { background-position: 21.875rem 0rem; }

.review__avatar--hidden { visibility: hidden; }

.review__item { position: relative; width: 25%; height: 50%; float: left; }

@media screen and (max-width: 768px) { .review__item { width: 50%; height: 25%; } }

@media screen and (max-width: 480px) { .review__item { width: 50%; height: 25%; } }

.review__list { width: 100%; height: 100%; }

.review__text { display: block; background-color: rgba(81, 80, 90, 0.8); width: 100%; height: 100%; position: absolute; top: 0; left: 0; padding-left: 0.9375rem; padding-right: 1.875rem; padding-top: 1.875rem; padding-bottom: 15%; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; line-height: 1.42em; z-index: 20; opacity: 0; }

@media screen and (max-width: 768px) { .review__text { text-align: center; padding-top: 3%; padding-bottom: 3%; } }

@media screen and (max-width: 480px) { .review__text { text-align: center; } }

.review__item:hover > .review__text { opacity: 1; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.review__description { font-family: 'Ubuntu','Arial'; font-weight: 300; font-size: 0.875rem; color: white; margin-bottom: 1.25rem; }

@media screen and (max-width: 768px) { .review__description { margin-bottom: 5%; } }

@media screen and (max-width: 480px) { .review__description { display: none; } }

.review__link { background-color: #2f3234; font-family: 'Ubuntu','Arial'; font-weight: 500; font-size: 0.75rem; color: white; text-transform: uppercase; text-decoration: none; padding: 0.625rem; border-radius: 0.3125rem; cursor: pointer; }

.review__link:after { content: "подробнее"; }

@media screen and (max-width: 480px) { .review__link:after { content: "посмотреть отзыв"; } }

.review__link:hover { background-color: #e45028; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.accordeon { display: inline-block; max-height: 80%; }

.accordeon__list { margin: 0; padding: 0; }

.accordeon__item { width: 100%; margin-top: 1.125rem; position: relative; }

.accordeon__item:first__child { margin-top: 0; }

.accordeon__item--active .title--team { color: #f9b43b; }

.accordeon__item--active .triangle { border-bottom: 0.3125rem solid #f9b43b; border-top: 0.3125rem solid transparent; -webkit-transform: translate(0, -25%); -ms-transform: translate(0, -25%); transform: translate(0, -25%); }

.accordeon__item--active > .accordeon__content { height: 100%; }

.triangle { display: inline-block; position: relative; border-top: 0.3125rem solid #f9b43b; border-right: 0.3125rem solid transparent; border-left: 0.3125rem solid transparent; border-bottom: 0.3125rem solid transparent; width: 0; height: 0; margin-right: 0.3125rem; -webkit-transform: translate(0, 25%); -ms-transform: translate(0, 25%); transform: translate(0, 25%); }

.accordeon__content { -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 0.625rem; height: 0; overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media screen and (max-width: 768px) { .accordeon__content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

@media screen and (max-width: 480px) { .accordeon__content { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.accordeon__foto { background-image: url("/img/team/photo2.jpg"); width: 6.5625rem; height: 6.5625rem; border-radius: 50%; overflow: hidden; background-size: cover; background-position: -1.25rem; display: inline-block; margin-right: 0.9375rem; margin-left: 0.9375rem; }

.accordeon__avatar { width: 6.25rem; height: 6.25rem; border-radius: 50%; overflow: hidden; background-size: cover; background-position: center; display: inline-block; margin-right: 1.25rem; margin-left: 1.25rem; }

.accordeon__avatar--hidden { visibility: hidden; }

.accordeon__info { display: inline-block; width: 14.375rem; font-family: 'Ubunty', 'Arial'; font-size: 0.875rem; text-align: left; color: white; line-height: 2em; }

@media screen and (max-width: 768px) { .accordeon__info { text-align: center; } }

@media screen and (max-width: 480px) { .accordeon__info { text-align: center; } }

.info__function { font-weight: bold; display: inline-block; }

.info__text { display: inline-block; padding-bottom: 0.9375rem; }

.accordeon-horiz { float: right; height: 100%; }

.accordeon-horiz__list { margin: 0; padding: 0; height: 100%; }

.accordeon-horiz__item { height: 100%; float: left; position: relative; }

.accordeon-horiz__item--active > .accordeon-horiz__title .title--lmenu { color: #f9b43b; -webkit-filter: grayscale(0%); filter: grayscale(0%); }

.accordeon-horiz__item--active > .accordeon-horiz__content { width: 40rem; }

@media screen and (max-width: 768px) { .accordeon-horiz__item--active > .accordeon-horiz__content { width: 27.5rem; } }

@media screen and (max-width: 480px) { .accordeon-horiz__item--active > .accordeon-horiz__content { width: 18.75rem; } }

.accordeon-horiz__title { height: 100%; width: 5rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: end; -ms-flex-align: end; align-items: flex-end; padding-bottom: 2.5rem; -webkit-box-sizing: border-box; box-sizing: border-box; background-size: cover; overflow: hidden; position: relative; float: left; }

@media screen and (max-width: 480px) { .accordeon-horiz__title { width: 2.8125rem; } }

.accordeon-horiz__titlebkg { display: block; width: 100%; height: 100%; position: absolute; top: 0; right: 0; background-color: rgba(47, 50, 52, 0.8); }

.accordeon-horiz__title--meat { background-image: url("/img/menu/meat.jpg"); }

.accordeon-horiz__title--vegan { background-image: url("/img/menu/vegan.jpg"); }

.accordeon-horiz__title--diet { background-image: url("/img/menu/diet.jpg"); }

.accordeon-horiz__content { width: 0; overflow: hidden; float: left; height: 100%; }

.accordeon-horiz__info { display: inline-block; width: 100%; height: 100%; font-family: 'Ubunty', 'Arial'; font-size: 0.875rem; text-align: left; color: white; line-height: 2em; -webkit-box-sizing: border-box; box-sizing: border-box; padding-top: 3.4375rem; padding-left: 2.1875rem; padding-right: 2.1875rem; background-color: rgba(81, 80, 90, 0.8); }

.footer { display: -webkit-box; display: -ms-flexbox; display: flex; background-image: url("/img/contact/footer_bkg.png"); -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row wrap; flex-direction: row wrap; position: absolute; width: 100%; bottom: 0; padding: 0.625rem 3.75rem 0.625rem; -webkit-box-sizing: border-box; box-sizing: border-box; }

@media screen and (max-width: 480px) { .footer { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-align: center; -ms-flex-align: center; align-items: center; } }

.footer__contacts { text-align: left; width: 50%; }

@media screen and (max-width: 480px) { .footer__contacts { width: 100%; text-align: center; padding-bottom: 1.25rem; } }

.footer__social { text-align: right; width: 50%; }

@media screen and (max-width: 480px) { .footer__social { width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; } }

.contacts__address { display: inline-block; color: white; font-size: 0.875rem; font-family: 'Ubuntu', 'Arial'; margin-bottom: 0.3125rem; }

.contacts__phone-link { display: block; }

.contacts_phone { display: inline-block; color: #d64c26; font-size: 0.875rem; font-family: 'Ubuntu', 'Arial'; font-weight: 700; }

.social__icon { display: inline-block; text-align: right; vertical-align: middle; fill: #5a5a5a; width: 1.5625rem; height: 1.5625rem; margin-right: 0.625rem; z-index: 100; }

.social__icon:hover { fill: white; }

.contacts__icon { display: inline-block; text-align: center; vertical-align: middle; fill: #e35028; width: 0.6875rem; height: 0.6875rem; margin-right: 0.3125rem; z-index: 100; }

.form__container { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; }

@media screen and (max-width: 768px) { .form__container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media screen and (max-width: 480px) { .form__container { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.form { color: #fff; width: 50%; -webkit-box-flex: wrap; -ms-flex: wrap; flex: wrap; margin-right: 1.25rem; }

.form:last-child { margin-right: 0; }

@media screen and (max-width: 768px) { .form { width: 100%; } }

@media screen and (max-width: 480px) { .form { width: 100%; } }

.form__row { margin-bottom: 1.0625rem; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.form__block { display: block; -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-right: 1.25rem; }

.form__block:last-child { margin-right: 0; }

.form__input { padding: 0.3125rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; border: 0.1875rem solid transparent; border-radius: 0.3125rem; width: 100%; display: block; outline: 0; outline-offset: 0; }

.form__input:focus { border: 0.1875rem solid #f9b43b; }

.form__textarea { padding: 0.3125rem; -webkit-box-sizing: border-box; box-sizing: border-box; background: #fff; border: 0.1875rem solid transparent; border-radius: 0.3125rem; outline: 0; outline-offset: 0; width: 100%; height: 6.875rem; resize: none; overflow: hidden; }

.form__textarea:focus { border: 0.1875rem solid #f9b43b; }

.form__title { font-family: 'Ubuntu', 'Arial'; font-weight: 300; font-size: 0.875rem; color: #fff; padding-bottom: 0.5rem; text-align: left; }

.form__reset { display: inline-block; height: 100%; text-decoration: none; padding: 0.625rem; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form__reset:before { display: inline-block; content: ""; height: 100%; vertical-align: middle; }

.form__radio { display: inline-block; position: relative; margin-right: 1.25rem; }

.form__radio:last-child { margin-right: 0; }

.form__radiobtn { position: absolute; visibility: hidden; }

.form__custombtn { vertical-align: middle; position: relative; top: 0; left: 0; display: inline-block; width: 1rem; height: 1rem; border-radius: 50%; background-color: white; margin-right: 0.125rem; content: ""; }

.form__radiobtn:not(checked) + .form__custombtn:after { content: ''; position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 0rem; height: 0rem; border-radius: 50%; background-color: #e45028; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.form__radiobtn:checked + .form__custombtn:after { width: 0.5rem; height: 0.5rem; }

.form__radiotitle { display: inline-block; font-family: 'Ubuntu', 'Arial'; font-weight: 300; font-size: 0.875rem; color: #fff; text-align: left; }

.form__markchb { position: absolute; visibility: hidden; }

.form__customchb { vertical-align: middle; position: relative; top: 0; left: 0; display: inline-block; width: 0.9375rem; height: 0.9375rem; background-color: white; margin-right: 0.3125rem; content: ""; }

.form__customchb:after { content: ""; background-image: url("/img/form/chb_mark.png"); position: absolute; display: inline-block; background-size: cover; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); width: 0.8125rem; height: 0.8125rem; opacity: 0; -webkit-transition: 0.3s; -o-transition: 0.3s; transition: 0.3s; }

.form__markchb:checked + .form__customchb:after { opacity: 1; }

.buy__button--form { margin-left: 0; margin-right: 0.5rem; }

.slider { width: 100%; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.slider__arrow { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; width: 10%; height: 60%; }

.slider__content { width: 80%; height: 60%; position: relative; }

@media screen and (max-width: 768px) { .slider__content { height: 80%; } }

@media screen and (max-width: 480px) { .slider__content { height: 80%; } }

.slider__list { width: 100%; height: 100%; }

.slider__item { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row; -webkit-box-align: center; -ms-flex-align: center; align-items: center; width: 100%; height: 100%; }

@media screen and (max-width: 768px) { .slider__item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

@media screen and (max-width: 480px) { .slider__item { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; } }

.slider__image { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; width: 100%; height: 100%; background-image: url("/img/slider/black_burger.png"); background-position: center; background-repeat: no-repeat; background-size: 100% auto; }

.slider__text { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; height: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; text-align: left; }

.slider__buy { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

.slider__price { display: inline-block; font-family: 'gagalinregular','Arial'; font-size: 30px; text-transform: uppercase; font-weight: normal; color: #e35028; }

.slider__desc { margin-top: 50px; margin-bottom: 35px; font-family: 'Ubuntu', 'Arial'; font-weight: 300; font-size: 14px; line-height: 2; color: #fff; }

.icon__arrow { width: 20px; height: 30px; }

.icon__arrow--left { -webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); transform: rotate(90deg); }

.icon__arrow--right { -webkit-transform: rotate(-90deg); -ms-transform: rotate(-90deg); transform: rotate(-90deg); }

.icon__burger { width: 45px; height: 45px; }

.slider__icon { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; left: 0; width: 90px; height: 90px; border-radius: 5px; }

.slider__icon--composition { background-color: #f08c33; top: 0; }

.slider__icon--kkal { bottom: 0; }

.slider__icon-text { font-family: 'gagalinregular','Arial'; font-size: 14px; }

.slider__icon-text--composition { color: #fff; }

.slider__icon-text--kkal { color: #fad49d; }

/*# sourceMappingURL=mainn.css.map */