.accordeon-horiz{
    float:right;
    height:100%;
    width: 100%;
}

.accordeon-horiz__list{
    
     margin:0;
     padding:0;
     height:100%;
     width:100%;
     display: flex;
     justify-content: flex-end;
     
 }

 .accordeon-horiz__item{
     height:100%;
     width: 7%;
     position:relative;

     @include tablets{
        width:9%;
     }

     @include phones{
        width: 10%;
     }

     &--active{
         width: 60%;

         @include tablets{
            width:82%;
         }

         @include phones{
            width: 100%;
            position:absolute;
            top:0;
            right:0;
         }
        
     }

     &--active>.accordeon-horiz__title{  
         
                width: 11.5%;

                @include tablets{
                    width:11%;
                 }

                 @include phones{
                    width: 10%;
                 }
                
        
                .title--lmenu{
                color:#f9b43b;
                filter:grayscale(0%);
            }
        }
        
            &--active>.accordeon-horiz__content{
                width:88.5%;

                @include tablets{
                    width:89%;
                 }

                 @include phones{
                    width: 90%;

                    &>.exitmark--acco{
                        display:block;
                     }
                 }

                
                
            }

 }

//  .accordeon__titlebox{
//      height:100%;
//      width: 100%;
//      vertical-align:bottom;
//      display:inline-block;
//      text-align: center;
//  }
 
 .accordeon-horiz__title{
    
     height: 100%;
     width: 100%;
     display: flex;
     align-items:flex-end;
     justify-content: center;
     padding-bottom:rem(40px);
     box-sizing:border-box;     
     background-size:cover;
     overflow:hidden;
    //  filter:grayscale(80%);
     position:relative;
     float:left;  
     white-space: nowrap; 
     
     }

.accordeon-horiz__titlebkg{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0;
    right:0;
    background-color: rgba(47, 50, 52, 0.8);
   
}

.accordeon-horiz__title--meat{
    background-image:  url('../img/menu/meat.jpg');
}

.accordeon-horiz__title--vegan{
    background-image:  url('../img/menu/vegan.jpg');
}

.accordeon-horiz__title--diet{
    background-image:  url('../img/menu/diet.jpg');
}
  
 .accordeon-horiz__content{
     
     
     width: 0;    
     overflow:hidden; 
     float:right;  
     height:100%;  
     transition:0.3s;
 }

 .accordeon-horiz__info{
    display: inline-block;
    width: 100%;
    height: 100%;
    font-family: 'Ubunty', 'Arial';
    font-size: rem(14px);
    text-align: left;
    color:white;
    line-height: 2em;
    box-sizing: border-box;
    padding-top:rem(55px);
    padding-left:rem(35px);
    padding-right:rem(35px);
    background-color: rgba(81, 80, 90, 0.8);
}

.accordeon-horiz__link{
    text-decoration: none;
    display:flex;
    align-items: center;
    width:auto;
}