$tablets: 768px;
$phones: 480px;

@function rem($px){
    @return $px / 16px + 0rem;
}

@mixin tablets{
    @media screen and (max-width:$tablets){
        @content;
    }
}

@mixin phones{
    @media screen and (max-width:$phones){
        @content;
    }
}


html{
    height: 100%;
    font-size:16px;
    
    
    @include tablets{
        font-size:14px;
    }
    
    @include phones{
        font-size:12px;
    }
}

body{    
    width: 100%;
    height: 100%;
    text-align: center;

    &::-webkit-scrollbar{
        width:0px;
    }
   

    /* font-size: */
}

ul{
    list-style: none;
    margin:0;
    padding:0;
}

h1,h2,h3{
    margin-top:0;
}

.wrapper {
    position:relative;
    overflow:hidden;
    min-height:rem(500px);
    height:100%;
    min-width: 100%;

}

.content{
    height: 100%;
    min-height:rem(500px);
    position:relative;
    top:0;
    transition: 1s;
    will-change: transform;
}


.clearfix:after{

    content: "";
    display: block;
    clear: both;

}

.container{
    margin: 0 auto ;
    position: relative;
    width:100%;
    max-width:1100px;
    height:100%;
    padding-left:5%;
    padding-right:5%;
    box-sizing:border-box;

    @include phones{
        
        padding-left:2%;
        padding-right:2%;
           
    }
    
}

.container--best{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding-left:6%;
    padding-right:6%;
}

.container--slider{
    padding:0;
}

.container--team{
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:center;
    width: 50%;
    height: 100%;
    background-color: rgba(81, 80, 90, 0.9);
    position:absolute;
    top:0;
    left:50%;
    margin:0;
    text-align:left;
    padding:0;
    box-sizing: border-box;

    @include tablets{
       
       padding-left:0;
       padding-right:0;
       justify-content: center;
       align-items:center;
       width:100%;
       left:0;
    
    }
      
      @include phones{
        
           padding-left:0;
           padding-right:0;
           justify-content: center;
           align-items:center;
           width:100%;
           left:0;
           
    }
    
}

.container--menu{
    position:absolute;
    right:0;
    height:100%;
    padding:0;
}

.container--form{
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    padding:0;
}

.section{
    width: 100%;//100vw
    height: 100%;//100vh
    //min-height:rem(650px);
    position: relative;
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    text-align:center;
    box-sizing:border-box;

    //т.к. размер от viewport не учитывает меню верхнее и нижнее
    @include phones{
        width: 100%;
        height: 100%;
     }
}

.section--start{
  background-image: url('../img/start/video-bg.jpg');
  padding-top: rem(15px);
  padding-bottom: rem(40px);
}



.section--best{
  background-image: url('../img/best/bg.jpg');
 
  
}

.section--slider{
    background-image: linear-gradient(#f9b43b,#eb8d38,#f9b43b);
    

}

.section--review{
//   width: 100vw;
//   height: rem(650px);
}

.section--team{
    background-image: url('../img/team/background.jpg');
}

.section--menu{
    background-image: url('../img/menu/background.jpg');
}

.section--contact{
    background-image: url('../img/contact/map.jpg');
}

.section--form{
    background-image: url('../img/form/background.jpg');
    
    padding-right:7%;
    padding-left:7%;
    box-sizing:border-box;
   
    @include tablets{
        padding-right:1%;
        padding-left:1%;
     }

     @include phones{
        padding-right:1%;
        padding-left:1%;
     }
}




.title{
    
      font-family: 'gagalinregular','Arial';
      font-size: rem(72px);
      text-transform: uppercase;
      font-weight: normal;
       
    }
    
    .title--start{
      color: #f9b43b;
      margin-bottom: rem(15px);
      margin-top: rem(15px); 
    
    }
    
    .title--best{
      color:#2f3234;
      margin-bottom: rem(40px);
      
    }

    .title--team{
        color: #f9b43b;
        margin-bottom: rem(50px); 
        text-align: left;
      
    }

      

      .title--menu{
        color: white;  
        float:left;   
        margin-left: 9%; 
        margin-top: 8%;
      }

      .title--slider{
        color: white; 
        margin-bottom: 8%;
        line-height:0.9;
        margin-top:10%;

        @include tablets{
            width:90%; 
            margin-top:0;
         }
    
      }

      .title--lmenu{
        display: block;
        position:relative;
        height:100%;
        text-align: left;
        color: white;   
        font-size: rem(40px);
        writing-mode: vertical-lr;
        transform:rotate(180deg); 
        margin:0;
        padding:0;  
        
        @include phones{
            font-size: rem(25px);
         }
      }
    
    
    .ltitle {
      font-family: 'lifehackmedium','Arial';
      font-size: rem(65px);    
      
    }
    
    .ltitle--start{
      font-size: rem(65px);
      color: white;
      text-transform:lowercase;
      font-stretch: condensed;
      line-height: 0.9em;
      letter-spacing: -rem(1.5px);
      font-weight:300;
      text-align:left;
      margin-bottom: 0;

      @include tablets{
        text-align:center;
      }
      
       @include phones{
         text-align:center;
     }  
      
    }

    .title--team{
        display:inline-block;
        color:white;
        font-size: rem(14px);
        letter-spacing: rem(1px);
        margin-bottom:0;

    }
    
    .ltitle--best{
      font-size: rem(24px);
      color: #2f3234;
      margin-bottom: rem(15px);
      line-height: 1.2em;
      letter-spacing: -rem(0.5px);
    }

    .title--review{
        color:white;
        font-size: rem(14px);
        letter-spacing: rem(1px);
        margin-bottom: 5%;

        @include tablets{
            margin-bottom: 0;
         }

         @include phones{
            font-size: rem(20px);
            margin-bottom:rem(30px);
            width:85%;
         }

    }

    .title--reviewmodal{
        color:#2f3234;
        font-size: rem(14px);
        letter-spacing: rem(1px);
        margin-bottom: rem(30px);
    }

/* .wrapper:after{
    content:"";
    display:block;
    height:rem(75px);
} */