@font-face {
    font-family: 'gagalinregular';
    src: url('../fonts/gagalin/gagalin-regular-webfont.woff2') format('woff2'),
         url('../fonts/gagalin/gagalin-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }
  
  @font-face {
    font-family: 'lifehackmedium';
    src: url('../fonts/Lifehack/lifehack_medium-webfont.woff2') format('woff2'),
         url('../fonts/Lifehack/lifehack_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  
  }